p {
    color:blue;
}
.main {
    color: rgb(204, 56, 56);
}
.middle {
    color:darkkhaki;
}
#end {
    color:mistyrose;
}
.new {
    color:cadetblue
}
.new p {
    color:goldenrod;
}
.new ul {
    list-style: none;
}
.new a {
    text-decoration: none;
}
